/* variables */
:root {
  --preload-delay: 1.3s;
  --preload-duration: 1.5s;
  --nav-width: clamp(35px, 6vw, 70px);
}

/* default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-left: clamp(35px, 6vw, 70px);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

/* preloader */
.preload {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  animation: preload var(--preload-duration) ease-in-out var(--preload-delay)
      forwards,
    preloadOver 0.5s ease var(--preload-delay) forwards;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
.preload:hover {
  transform: scale(1.5);
}
@keyframes preload {
  to {
    height: var(--nav-width);
    width: var(--nav-width);
  }
}
@keyframes preloadOver {
  to {
    background-color: transparent;
  }
}
.preload svg text {
  font-size: 70%;
  font-weight: bold;
}

/* navigation */
nav {
  background-color: gray;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: var(--nav-width);
}
nav ul {
  list-style: none;
  margin-top: auto;
  width: 100%;
}
nav ul li {
  width: 70%;
  margin: 12px auto;
}
.name {
  writing-mode: vertical-rl;
  color: white;
  font-size: clamp(25px, 3vw, 60px);
  display: flex;
  align-items: center;
}
.name .gear {
  background-color: rgb(241, 242, 243);
  height: var(--nav-width);
  width: var(--nav-width);
  margin-bottom: 5px;
}
nav img {
  transition: 0.5s;
}
nav img:hover {
  transform: scale(1.3);
}

/* Header */
header {
  display: flex;
  padding: 4vh;
}
header .links {
  margin-left: auto;
}
header a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
  position: relative;
}
header a::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #00121b;
  transition: 0.2s;
  transform: scaleX(0);
}
header a:hover::after {
  transform: scaleX(1);
}
header .contactbutt {
  margin-left: 20px;
  display: inline-block;
  border: 2px solid black;
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 290486px;
  transition: 0.5s;
}
header .contactbutt:hover {
  color: white;
  background-color: black;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header .links {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  header .links.active {
    display: flex;
  }
  header .contactbutt {
    margin: auto;
    margin-top: 10px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero */
.hero {
  padding: 3vh calc(var(--nav-width) + 5px);
  text-align: center;
}
.hero .title {
  font-size: clamp(20px, 3.5vw, 70px);
  margin-bottom: 1em;
  animation: titleBlip 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
}
@keyframes titleBlip {
  from {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  to {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }
}
.hero .desc {
  font-size: clamp(10px, 2vw, 60px);
  font-weight: 100;
  margin-bottom: 2em;
  cursor: help;
}
.hero .desc:hover {
  animation: squiggly-anim 0.34s linear infinite;
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
.hero .image {
  background-color: #7510f7;
  border-radius: 50%;
  overflow: hidden;
  width: clamp(130px, 30vw, 250px);
  display: inline-block;
}

/* footer */
footer {
  text-align: center;
  background-color: black;
  padding: 3vh calc(var(--nav-width) + 5px);
  color: white;
  font-size: clamp(10px, 1.8vh, 30px);
}
footer a {
  color: white;
}
