/* variables */
:root {
  --preload-delay: 1.3s;
  --preload-duration: 1.5s;
  --sidebar-width: clamp(35px, 6vw, 70px);
}

/* default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

/* Remove animations for prefers reduce motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }
  html {
    scroll-behavior: auto;
  }
}
